<div class="row-fluid">
<div id="posts-list" class="span6 posts-list">
	<%= render "posts/list"%>
</div>
<div class="span6">
<div class="pull-right">
<%= link_to 'New Post', new_post_path %>
</div>
</div>
</div>
